
Rough_8d_notes.synctex.gz
Rough_8d_notes.run.xml
Rough_8d_notes.pdf
Rough_8d_notes.out
Rough_8d_notes.log
Rough_8d_notes.aux
Rough_8d_notes-blx.bib
paper.toc
paper.synctex.gz
paper.run.xml
paper.pdf
paper.out
paper.log
paper.blg
paper.bbl
paper.aux
paper-blx.bib
10d_twist_lemmas.pdf
10d_SYM_Notes.pdf
10d_SYM_Notes.out
10d_SYM_Notes.log
10d_SYM_Notes.blg
10d_SYM_Notes.bbl
10d_SYM_Notes-blx.bib
10d_section_draft.pdf
.DS_Store
paper.pdf
